{% extends 'base.html' %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}

    <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Topic</th>
                <th>Starter</th>
                <th>Replies</th>
                <th>Views</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in board.topics.all %}
                <tr>
                    <td>{{ topic.subject }}</td>
                    <td>{{ topic.starter.username }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>{{ topic.last_updateed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}